<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Coucou il y a pas encore de potin, mais tu peux en crée un !</h1>
    <a href="/gossips/new/">Courgette ?</a>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>